* {
    font-family: "JetBrainsMono Nerd Font Mono", "Noto Sans", sans-serif;
    font-size: 14px;
}

window {
    background-color: #1e1e2e;
    border: 2px solid #cba6f7;
    border-radius: 0;
}

#input {
    margin: 8px;
    padding: 8px;
    border: none;
    border-radius: 0;
    background-color: #313244;
    color: #cdd6f4;
}

#inner-box {
    margin: 4px 8px 8px 8px;
    background-color: transparent;
}

#outer-box {
    padding: 4px;
    background-color: transparent;
}

#scroll {
    margin: 0;
}

#text {
    color: #cdd6f4;
}

#entry {
    padding: 6px;
    border-radius: 0;
}

#entry:selected {
    background-color: #45475a;
}

#entry:selected #text {
    color: #cba6f7;
}
